<div class="breadcrumb">
  <h1>الإجازات</h1>

</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">
  <div class="col-md-6">
    <app-leaveapp>
      <div class="loader-bubble loader-bubble-primary d-block">انتظر</div>
    </app-leaveapp>
  </div>
  <div class="col-md-6">
    <app-leavebalance>
      <div class="loader-bubble loader-bubble-primary d-block">انتظر</div>
    </app-leavebalance>

  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <app-leave-emp-apps>
      <div class="loader-bubble loader-bubble-primary d-block">انتظر</div>
    </app-leave-emp-apps>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-leavetrans>
      <div class="loader-bubble loader-bubble-primary d-block">انتظر</div>
    </app-leavetrans>
  </div>
</div>
